html, body {
  height: 100%;
  width: 100%;
}
.div-container{
  background-color:#0b1728 !important;
  border: 1px solid black;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.img-scale{
  width: 100%;
}
.img-scale:hover{
  cursor: pointer;
}
.links-container{
  display: inline;
}

.links-container img {
  width: 50px !important;
  height: 50px;
  margin: 10px 30px;
}
