* {
  font-family: sans-serif, serif, "Courier New", Courier, monospace;
  color: white;
  width:100%;
}
.dark{
    color: black;
}

h1 {
  color: black;
}

.bg-color-dark{
    background-color: #1a1a1aff;
}

.background {
  background: transparent url("./assets/background.png") 50% 0;
  width: 100%;
  height: 80vh;
}

.large {
  color: white;
  font-size: 15vh;
  font-weight: bold;
  margin-top: 0px;
}

.medium {
  color: white;
  font-size: 4vh;
  font-weight: bold;
  margin: -20px;
  width: 200px;
}

.medium .letter {
    font-size: 20vh;
    display: inline-block;
  }

p {
  font-size: 1.2vh;
  font-weight: bold;
  padding: 0px;
  margin: -10px -10px;
  margin-left: -9%;
  
}

.middle {
  margin-top: 25vh;
}

.right {
  text-align: right;
  margin-left: 6%;
  width: 20vh;
}

.small-img {
  position: relative;
  margin-left: -10%;
  margin-top: 40vh;
  width: 20%;
  height:10%;
}

#insideScroll{
    animation: scroll 2s ease-in infinite;
}

.box{
    background-color: #0088aaff;
    width: 300px;
    height: 200px;
    box-shadow: #004455ff 10px 10px;
    opacity: 0;
}

.box h1{
    color: white;
    font-size: 52px;
    font-weight: bold;
}

#text{
    opacity: 0;
}

#project p {
  font-size: 14px;
}

a{
  color: white;
}
/* Animations */
@keyframes scroll {
  0% {
    transform:  translateY(0px);
  }
  50% {
    transform:  translateY(25px);
  }
  100% {
    transform:  translateY(0px);
  }
}

@media screen and (min-width: 1200px) {
  .background {
    background: transparent url("./assets/background.png") 50% 0;
    width: 100%;
    height: 100vh;
  }
  .middle {
    margin-top: 26vh;
  }
  .large {
    font-size: 25vh;
  }
  .medium {
    font-size: 20vh;
  }
  p {
    font-size: 5vh;
    margin: 0px;
  }
  .right {
    text-align: right;
    width: 120vh;
    margin-left: 0%;
  }

  .small-img {
    position: relative;
    margin-left: 170px;
    margin-top: 20vh;
    width: 10%;
    height:10%;
  }
  .box{
    background-color: #0088aaff;
    width: 400px;
    height: 200px;
    box-shadow: #004455ff 10px 10px;
    opacity: 0;
}

.box h1{
    color: white;
    font-size: 72px;
    font-weight: bold;
}
}
